.bt_bb_section > .bt_bb_port .bt_bb_cell {
    position: relative;
}

.bt_bb_layout_boxed_1200 .bt_bb_cell {
    width: 1200px;
    max-width: -webkit-calc(100% - 60px);
    max-width: -moz-calc(100% - 60px);
    max-width: calc(100% - 60px);
}

.bt_bb_layout_boxed_1200 .bt_bb_cell {
    width: 1200px;
    max-width: -webkit-calc(100% - 40px);
    max-width: -moz-calc(100% - 40px);
    max-width: calc(100% - 40px);
}

.bt_bb_cell {
    width: 100%;
}

.bt_bb_row.bt_bb_column_gap_50 {
    max-width: -webkit-calc(100% + 100px);
    max-width: -moz-calc(100% + 100px);
    max-width: calc(100% + 100px);
    margin-left: -50px;
    margin-right: -50px;
}

.bt_bb_row {
    margin: 0 -20px;
}

.bt_bb_row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.animate:not(.bt_bb_section):not(.btArticleListItem):nth-child(1) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    transition-delay: 200ms;
}

.bt_bb_row.bt_bb_column_gap_50 .bt_bb_column {
    padding-left: 50px;
    padding-right: 50px;
}

.bt_bb_row .bt_bb_column.bt_bb_vertical_align_top {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.bt_bb_animation_fade_in.animated {
    opacity: 1;
}

.bt_bb_align_right .bt_bb_align_left.bt_bb_column, .bt_bb_align_center .bt_bb_align_left.bt_bb_column, .bt_bb_align_right .bt_bb_align_left .bt_bb_column, .bt_bb_align_center .bt_bb_align_left .bt_bb_column, .bt_bb_align_left.bt_bb_column, .bt_bb_align_left .bt_bb_column, .bt_bb_align_right .bt_bb_align_left.bt_bb_column_inner, .bt_bb_align_center .bt_bb_align_left.bt_bb_column_inner, .bt_bb_align_right .bt_bb_align_left .bt_bb_column_inner, .bt_bb_align_center .bt_bb_align_left .bt_bb_column_inner, .bt_bb_align_left.bt_bb_column_inner, .bt_bb_align_left .bt_bb_column_inner {
    text-align: left;
}

.bt_bb_row .bt_bb_column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding-left: 20px;
    padding-right: 20px;
}

.bt_bb_column[data-width="6"], .bt_bb_column_inner[data-width="6"] {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.bt_bb_row .bt_bb_column {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    max-width: 100%;
}

.bt_bb_animation_fade_in {
    opacity: 0;
}

.animate {
    -webkit-transition: transform 1000ms cubic-bezier(.190, 1, .220, 1), opacity 1000ms cubic-bezier(.190, 1, .220, 1);
    -moz-transition: transform 1000ms cubic-bezier(.190, 1, .220, 1), opacity 1000ms cubic-bezier(.190, 1, .220, 1);
    transition: transform 1000ms cubic-bezier(.190, 1, .220, 1), opacity 1000ms cubic-bezier(.190, 1, .220, 1);
}

.animate:not(.bt_bb_section):not(.btArticleListItem):nth-child(2) {
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    transition-delay: 400ms;
}

.animate[class*="move_right"].animated, .animate[class*="move_left"].animated, .animate[class*="move_up"].animated, .animate[class*="move_down"].animated {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bt_bb_row.bt_bb_column_gap_50 .bt_bb_column {
    padding-left: 50px;
    padding-right: 50px;
}

.bt_bb_row .bt_bb_column.bt_bb_vertical_align_top {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.animate[class*="move_up"] {
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
}

.bt_bb_animation_fade_in.animated {
    opacity: 1;
}

.bt_bb_align_right .bt_bb_align_left.bt_bb_column, .bt_bb_align_center .bt_bb_align_left.bt_bb_column, .bt_bb_align_right .bt_bb_align_left .bt_bb_column, .bt_bb_align_center .bt_bb_align_left .bt_bb_column, .bt_bb_align_left.bt_bb_column, .bt_bb_align_left .bt_bb_column, .bt_bb_align_right .bt_bb_align_left.bt_bb_column_inner, .bt_bb_align_center .bt_bb_align_left.bt_bb_column_inner, .bt_bb_align_right .bt_bb_align_left .bt_bb_column_inner, .bt_bb_align_center .bt_bb_align_left .bt_bb_column_inner, .bt_bb_align_left.bt_bb_column_inner, .bt_bb_align_left .bt_bb_column_inner {
    text-align: left;
}

.bt_bb_row .bt_bb_column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding-left: 20px;
    padding-right: 20px;
}

.bt_bb_column[data-width="6"], .bt_bb_column_inner[data-width="6"] {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.bt_bb_row .bt_bb_column {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    max-width: 100%;
}

.bt_bb_animation_fade_in {
    opacity: 0;
}

.animate {
    -webkit-transition: transform 1000ms cubic-bezier(.190, 1, .220, 1), opacity 1000ms cubic-bezier(.190, 1, .220, 1);
    -moz-transition: transform 1000ms cubic-bezier(.190, 1, .220, 1), opacity 1000ms cubic-bezier(.190, 1, .220, 1);
    transition: transform 1000ms cubic-bezier(.190, 1, .220, 1), opacity 1000ms cubic-bezier(.190, 1, .220, 1);
}

.bt_bb_row .bt_bb_column .bt_bb_column_content {
    width: 100%;
}

.bt_bb_floating_element_horizontal_position_right.bt_bb_floating_element {
    right: 0;
}

.bt_bb_floating_element_vertical_position_top.bt_bb_floating_element {
    top: 0;
}

.bt_bb_floating_element {
    position: absolute;
    pointer-events: none;
}

.bt_bb_row_inner.bt_bb_column_inner_gap_50 {
    max-width: -webkit-calc(100% + 100px);
    max-width: -moz-calc(100% + 100px);
    max-width: calc(100% + 100px);
    margin-left: -50px;
    margin-right: -50px;
}


.bt_bb_row_inner.bt_bb_column_inner_gap_50 {
    max-width: -webkit-calc(100% + 100px);
    max-width: -moz-calc(100% + 100px);
    max-width: calc(100% + 100px);
    margin-left: -50px;
    margin-right: -50px;
}

.bt_bb_row_inner {
    margin: 0 -20px;
}

.bt_bb_row_inner {
    margin: 0 -20px;
}

.bt_bb_row_inner {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.bt_bb_row_inner.bt_bb_column_inner_gap_50 .bt_bb_column_inner {
    padding-left: 50px;
    padding-right: 50px;
}

.bt_bb_row_inner .bt_bb_column_inner.bt_bb_vertical_align_top {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.bt_bb_align_right .bt_bb_align_left.bt_bb_column, .bt_bb_align_center .bt_bb_align_left.bt_bb_column, .bt_bb_align_right .bt_bb_align_left .bt_bb_column, .bt_bb_align_center .bt_bb_align_left .bt_bb_column, .bt_bb_align_left.bt_bb_column, .bt_bb_align_left .bt_bb_column, .bt_bb_align_right .bt_bb_align_left.bt_bb_column_inner, .bt_bb_align_center .bt_bb_align_left.bt_bb_column_inner, .bt_bb_align_right .bt_bb_align_left .bt_bb_column_inner, .bt_bb_align_center .bt_bb_align_left .bt_bb_column_inner, .bt_bb_align_left.bt_bb_column_inner, .bt_bb_align_left .bt_bb_column_inner {
    text-align: left;
}

.bt_bb_row_inner .bt_bb_column_inner {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding-left: 20px;
    padding-right: 20px;
}

.bt_bb_column[data-width="12"], .bt_bb_column_inner[data-width="12"] {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.bt_bb_row_inner .bt_bb_column_inner {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    max-width: 100%;
}

.bt_bb_row_inner .bt_bb_column_inner .bt_bb_column_inner_content {
    width: 100%;
}

.bt_bb_separator.bt_bb_top_spacing_extra_small {
    margin-top: .625em;
}

.bt_bb_separator.bt_bb_bottom_spacing_normal {
    margin-bottom: 2em;
}

.bt_bb_separator.bt_bb_top_spacing_extra_small {
    margin-top: .5em;
}

.bt_bb_separator.bt_bb_bottom_spacing_normal {
    margin-bottom: 2em;
}

.bt_bb_separator {
    line-height: 0;
    display: block;
    clear: both;
}

.bt_bb_separator:before, .bt_bb_separator:after {
    content: ' ';
    display: table;
    width: 100%;
    clear: both;
}

.bt_bb_align_right .bt_bb_align_left.bt_bb_headline, .bt_bb_align_center .bt_bb_align_left.bt_bb_headline, .bt_bb_align_right .bt_bb_align_left .bt_bb_headline, .bt_bb_align_center .bt_bb_align_left .bt_bb_headline, .bt_bb_align_left.bt_bb_headline, .bt_bb_align_left .bt_bb_headline {
    text-align: left;
}

.bt_bb_headline {
    position: relative;
}


.bt_bb_font_weight_900.bt_bb_headline h1, .bt_bb_font_weight_900.bt_bb_headline h2, .bt_bb_font_weight_900.bt_bb_headline h3, .bt_bb_font_weight_900.bt_bb_headline h4, .bt_bb_font_weight_900.bt_bb_headline h5, .bt_bb_font_weight_900.bt_bb_headline h6 {
    font-weight: 900;
}

.bt_bb_size_medium.bt_bb_headline h1, .bt_bb_size_medium.bt_bb_headline h2, .bt_bb_size_medium.bt_bb_headline h3, .bt_bb_size_medium.bt_bb_headline h4, .bt_bb_size_medium.bt_bb_headline h5, .bt_bb_size_medium.bt_bb_headline h6 {
    font-size: 2.5rem;
}

.bt_bb_font_weight_900.bt_bb_headline h1, .bt_bb_font_weight_900.bt_bb_headline h2, .bt_bb_font_weight_900.bt_bb_headline h3, .bt_bb_font_weight_900.bt_bb_headline h4, .bt_bb_font_weight_900.bt_bb_headline h5, .bt_bb_font_weight_900.bt_bb_headline h6 {
    font-weight: 900;
}

.bt_bb_size_medium.bt_bb_headline h1, .bt_bb_size_medium.bt_bb_headline h2, .bt_bb_size_medium.bt_bb_headline h3, .bt_bb_size_medium.bt_bb_headline h4, .bt_bb_size_medium.bt_bb_headline h5, .bt_bb_size_medium.bt_bb_headline h6 {
    font-size: 2rem;
}

.bt_bb_headline h1, .bt_bb_headline h2, .bt_bb_headline h3, .bt_bb_headline h4, .bt_bb_headline h5, .bt_bb_headline h6 {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.bt_bb_size_medium.bt_bb_headline.bt_bb_subheadline .bt_bb_headline_subheadline {
    font-size: 1rem;
}

.bt_bb_headline.bt_bb_subheadline .bt_bb_headline_subheadline {
    font-family: "PT Serif", Arial, Helvetica, sans-serif;
}

.bt_bb_headline.bt_bb_subheadline .bt_bb_headline_subheadline {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin-top: 1.3em;
    line-height: 1.5em;
    font-size: 1em;
}

.bt_bb_headline .bt_bb_headline_subheadline {
    clear: both;
}

.bt_bb_headline:after {
    clear: both;
    content: ' ';
    display: table;
    width: 100%;
}


.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}


.wpcf7 .bt_bb_cf7_form.bt_bb_cf7_larger_spacing .bt_bb_cf7_row {
    margin-bottom: 1.25em;
}

.wpcf7 .bt_bb_cf7_form .bt_bb_cf7_row {
    margin-left: -.625em;
    margin-right: -.625em;
    margin-bottom: .625em;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wpcf7 .bt_bb_cf7_form .bt_bb_cf7_row .bt_bb_cf7_element {
    padding-left: .625em;
    padding-right: .625em;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}

.wpcf7-form-control-wrap {
    position: relative;
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']), textarea, .fancy-select .trigger, select {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.btHardRoundedButtons input:not([type='checkbox']):not([type='radio']), .btHardRoundedButtons a.select2-choice, .wpcf7-text {
    border-radius: 50px;
}

.btLightSkin input:not([type='checkbox']):not([type='radio']), .btDarkSkin .btLightSkin input:not([type='checkbox']):not([type='radio']), .btLightSkin .btDarkSkin .btLightSkin input:not([type='checkbox']):not([type='radio']), .btLightSkin textarea, .btDarkSkin .btLightSkin textarea, .btLightSkin .btDarkSkin .btLightSkin textarea, .btLightSkin select, .btDarkSkin .btLightSkin select, .btLightSkin .btDarkSkin .btLightSkin select {
    background: #fff;
}

input:not([type='checkbox']):not([type='radio']), select, .fancy-select .trigger, .btQuoteBooking .ddcommon.borderRadiusTp .ddTitleText {
    height: 3.25em;
    line-height: 3.25;
}

input:not([type='checkbox']):not([type='radio']), textarea, select {
    outline: none;
    font: inherit;
    width: 100%;
    line-height: 1;
    width: 100%;
    display: block;
    padding: 1.25em;
    background: transparent;
    color: inherit;
}

input:not([type='checkbox']):not([type='radio']), button {
    -webkit-appearance: none;
}

input[type='text'], input[type='password'], input[type='color'], input[type='date'], input[type='datetime-local'], input[type='email'], input[type='month'], input[type='number'], input[type='range'], input[type='tel'], input[type='time'], input[type='url'], input[type='week'], textarea {
    line-height: 1 !important;
}

.btLightSkin select, .btLightSkin textarea, .btLightSkin input, .btLightSkin .fancy-select .trigger, .btDarkSkin .btLightSkin select, .btDarkSkin .btLightSkin textarea, .btDarkSkin .btLightSkin input, .btDarkSkin .btLightSkin .fancy-select .trigger, .btLightSkin .btDarkSkin .btLightSkin select, .btLightSkin .btDarkSkin .btLightSkin textarea, .btLightSkin .btDarkSkin .btLightSkin input, .btLightSkin .btDarkSkin .btLightSkin .fancy-select .trigger {
    border: 1px solid rgba(24, 24, 24, .2);
}

select, input {
    font-family: "PT Serif", Arial, Helvetica, sans-serif;
}

select, input {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

select, textarea, input, .fancy-select .trigger {
    color: inherit;
}

input:not([type='checkbox']):not([type='radio']):not([type='submit']), textarea, .fancy-select .trigger, select {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.btHardRoundedButtons input:not([type='checkbox']):not([type='radio']), .btHardRoundedButtons a.select2-choice {
    border-radius: 50px;
}

.btLightSkin input:not([type='checkbox']):not([type='radio']), .btDarkSkin .btLightSkin input:not([type='checkbox']):not([type='radio']), .btLightSkin .btDarkSkin .btLightSkin input:not([type='checkbox']):not([type='radio']), .btLightSkin textarea, .btDarkSkin .btLightSkin textarea, .btLightSkin .btDarkSkin .btLightSkin textarea, .btLightSkin select, .btDarkSkin .btLightSkin select, .btLightSkin .btDarkSkin .btLightSkin select {
    background: #fff;
}

input:not([type='checkbox']):not([type='radio']), select, .fancy-select .trigger, .btQuoteBooking .ddcommon.borderRadiusTp .ddTitleText {
    height: 3.25em;
    line-height: 3.25;
}

input:not([type='checkbox']):not([type='radio']), textarea, select {
    outline: none;
    font: inherit;
    width: 100%;
    line-height: 1;
    width: 100%;
    display: block;
    padding: 1.25em;
    background: transparent;
    color: inherit;
}

input:not([type='checkbox']):not([type='radio']), button {
    -webkit-appearance: none;
}

input[type='text'], input[type='password'], input[type='color'], input[type='date'], input[type='datetime-local'], input[type='email'], input[type='month'], input[type='number'], input[type='range'], input[type='tel'], input[type='time'], input[type='url'], input[type='week'], textarea {
    line-height: 1 !important;
}

.btLightSkin select, .btLightSkin textarea, .btLightSkin input, .btLightSkin .fancy-select .trigger, .btDarkSkin .btLightSkin select, .btDarkSkin .btLightSkin textarea, .btDarkSkin .btLightSkin input, .btDarkSkin .btLightSkin .fancy-select .trigger, .btLightSkin .btDarkSkin .btLightSkin select, .btLightSkin .btDarkSkin .btLightSkin textarea, .btLightSkin .btDarkSkin .btLightSkin input, .btLightSkin .btDarkSkin .btLightSkin .fancy-select .trigger,
.wpcf7-text {
    border: 1px solid rgba(24, 24, 24, .2);
}

.contact-us-input::placeholder {
    color: #000
}

.contact-us-form {
    background: #f1f1f1;
    padding: 35px 40px;
}

.contact-us-input {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
}
.contact-us-input::placeholder, .contact-us-textarea::placeholder {
    color: #000;
}
.contact-us-textarea {
    border: 1px solid #d9d9d9;
}
.bt_bb_service_content_title {
    color: #000;
    font-weight: 500;
}

.bt_bb_icon_holder {
    box-shadow: 0 0 0 1em #18385f inset;
    color: #fff;
    background-color: transparent;

    font-size: 50px;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8em;

    border-radius: 50%;

    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-align-self: initial;
    align-self: initial;
    margin-bottom: 0;

    flex-basis: auto;

    -webkit-transition: all 280ms ease;
    -moz-transition: all 280ms ease;
    transition: all 280ms ease;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: block;
    vertical-align: middle;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 25px;
}

.contact-us-form .btn-primary {
    background: #18385f;
}
